.container {
  max-width: 92%;
}
.align-center {
  text-align: center;
}
.d-none {
  display: none !important;
}
.d-block {
  display: block !important;
}
.d-inline-block {
  display: block !important;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.align-items-start {
  align-items: flex-start;
}
.align-items-end {
  align-items: flex-end;
}
.align-items-center {
  align-items: center;
}
.justify-content-center {
  justify-content: center;
}
.justify-content-start {
  justify-content: start;
}
.justify-content-end {
  justify-content: end;
}
.justify-content-around {
  justify-content: space-around;
}
.justify-content-between {
  justify-content: space-between;
}

.col-1 {
  flex: 0 0 4.166667%;
  max-width: 4.166667%;
}
.col-2 {
  flex: 0 0 8.333333%;
  max-width: 8.333333%;
}
.col-3 {
  flex: 0 0 12.5%;
  max-width: 12.5%;
}
.col-4 {
  flex: 0 0 16.666667%;
  max-width: 16.666667%;
}
.col-5 {
  flex: 0 0 20.833333%;
  max-width: 20.833333%;
}
.col-6 {
  flex: 0 0 25%;
  max-width: 25%;
}
.col-7 {
  flex: 0 0 29.166667%;
  max-width: 29.166667%;
}
.col-8 {
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}
.col-9 {
  flex: 0 0 37.5%;
  max-width: 37.5%;
}
.col-10 {
  flex: 0 0 41.666667%;
  max-width: 41.666667%;
}
.col-11 {
  flex: 0 0 45.833333%;
  max-width: 45.833333%;
}
.col-12 {
  flex: 0 0 50%;
  max-width: 50%;
}
.col-13 {
  flex: 0 0 54.166667%;
  max-width: 54.166667%;
}
.col-14 {
  flex: 0 0 58.333333%;
  max-width: 58.333333%;
}
.col-15 {
  flex: 0 0 62.5%;
  max-width: 62.5%;
}
.col-16 {
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
}
.col-17 {
  flex: 0 0 70.833333%;
  max-width: 70.833333%;
}

.col-18 {
  flex: 0 0 75%;
  max-width: 75%;
}
.col-19 {
  flex: 0 0 79.166667%;
  max-width: 79.166667%;
}
.col-20 {
  flex: 0 0 83.333333%;
  max-width: 83.333333%;
}

.col-21 {
  flex: 0 0 87.5%;
  max-width: 87.5%;
}
.col-22 {
  flex: 0 0 91.666667%;
  max-width: 91.666667%;
}

.col-23 {
  flex: 0 0 95.833333%;
  max-width: 50%;
}
.col-24 {
  flex: 0 0 100%;
  max-width: 100%;
}

@media (min-width: 576px) {
  .text-sm-center {
    text-align: center;
  }
  .text-sm-left {
    text-align: left;
  }
  .text-sm-right {
    text-align: right;
  }
  .d-sm-none {
    display: none !important;
  }
  .d-sm-block {
    display: block !important;
  }
  .d-sm-inline-block {
    display: block !important;
  }
  .container {
    max-width: 540px;
  }

  .col-sm-1 {
    flex: 0 0 4.166667%;
    max-width: 4.166667%;
  }
  .col-sm-2 {
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .col-sm-3 {
    flex: 0 0 12.5%;
    max-width: 12.5%;
  }
  .col-sm-4 {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .col-sm-5 {
    flex: 0 0 20.833333%;
    max-width: 20.833333%;
  }
  .col-sm-6 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-sm-7 {
    flex: 0 0 29.166667%;
    max-width: 29.166667%;
  }
  .col-sm-8 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .col-sm-9 {
    flex: 0 0 37.5%;
    max-width: 37.5%;
  }
  .col-sm-10 {
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .col-sm-11 {
    flex: 0 0 45.833333%;
    max-width: 45.833333%;
  }
  .col-sm-12 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-sm-13 {
    flex: 0 0 54.166667%;
    max-width: 54.166667%;
  }
  .col-sm-14 {
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .col-sm-15 {
    flex: 0 0 62.5%;
    max-width: 62.5%;
  }
  .col-sm-16 {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .col-sm-17 {
    flex: 0 0 70.833333%;
    max-width: 70.833333%;
  }

  .col-sm-18 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-sm-19 {
    flex: 0 0 79.166667%;
    max-width: 79.166667%;
  }
  .col-sm-20 {
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }

  .col-sm-21 {
    flex: 0 0 87.5%;
    max-width: 87.5%;
  }
  .col-sm-22 {
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }

  .col-sm-23 {
    flex: 0 0 95.833333%;
    max-width: 50%;
  }
  .col-sm-24 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media (min-width: 768px) {
  .text-md-center {
    text-align: center;
  }
  .text-md-left {
    text-align: left;
  }
  .text-md-right {
    text-align: right;
  }
  .d-md-none {
    display: none !important;
  }
  .d-md-block {
    display: block !important;
  }
  .d-md-inline-block {
    display: block !important;
  }
  .container {
    max-width: 720px;
  }
  .col-md-1 {
    flex: 0 0 4.166667%;
    max-width: 4.166667%;
  }
  .col-md-2 {
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .col-md-3 {
    flex: 0 0 12.5%;
    max-width: 12.5%;
  }
  .col-md-4 {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .col-md-5 {
    flex: 0 0 20.833333%;
    max-width: 20.833333%;
  }
  .col-md-6 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-md-7 {
    flex: 0 0 29.166667%;
    max-width: 29.166667%;
  }
  .col-md-8 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .col-md-9 {
    flex: 0 0 37.5%;
    max-width: 37.5%;
  }
  .col-md-10 {
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .col-md-11 {
    flex: 0 0 45.833333%;
    max-width: 45.833333%;
  }
  .col-md-12 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-md-13 {
    flex: 0 0 54.166667%;
    max-width: 54.166667%;
  }
  .col-md-14 {
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .col-md-15 {
    flex: 0 0 62.5%;
    max-width: 62.5%;
  }
  .col-md-16 {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .col-md-17 {
    flex: 0 0 70.833333%;
    max-width: 70.833333%;
  }

  .col-md-18 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-md-19 {
    flex: 0 0 79.166667%;
    max-width: 79.166667%;
  }
  .col-md-20 {
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }

  .col-md-21 {
    flex: 0 0 87.5%;
    max-width: 87.5%;
  }
  .col-md-22 {
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }

  .col-md-23 {
    flex: 0 0 95.833333%;
    max-width: 50%;
  }
  .col-md-24 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .homeFooter {
    margin-top: 0px;
  }
}
@media (min-width: 992px) {
  .text-lg-center {
    text-align: center;
  }
  .text-lg-left {
    text-align: left;
  }
  .text-lg-right {
    text-align: right;
  }
  .d-lg-none {
    display: none !important;
  }
  .d-lg-block {
    display: block !important;
  }
  .d-lg-inline-block {
    display: block !important;
  }
  .container {
    max-width: 960px;
  }
  .col-0,
  .col-lg-1 {
    flex: 0 0 4.166667%;
    max-width: 4.166667%;
  }
  .col-lg-2 {
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .col-lg-3 {
    flex: 0 0 12.5%;
    max-width: 12.5%;
  }
  .col-lg-4 {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .col-lg-5 {
    flex: 0 0 20.833333%;
    max-width: 20.833333%;
  }
  .col-lg-6 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-lg-7 {
    flex: 0 0 29.166667%;
    max-width: 29.166667%;
  }
  .col-lg-8 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .col-lg-9 {
    flex: 0 0 37.5%;
    max-width: 37.5%;
  }
  .col-lg-10 {
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .col-lg-11 {
    flex: 0 0 45.833333%;
    max-width: 45.833333%;
  }
  .col-lg-12 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-lg-13 {
    flex: 0 0 54.166667%;
    max-width: 54.166667%;
  }
  .col-lg-14 {
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .col-lg-15 {
    flex: 0 0 62.5%;
    max-width: 62.5%;
  }
  .col-lg-16 {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .col-lg-17 {
    flex: 0 0 70.833333%;
    max-width: 70.833333%;
  }

  .col-lg-18 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-lg-19 {
    flex: 0 0 79.166667%;
    max-width: 79.166667%;
  }
  .col-lg-20 {
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }

  .col-lg-21 {
    flex: 0 0 87.5%;
    max-width: 87.5%;
  }
  .col-lg-22 {
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }

  .col-lg-23 {
    flex: 0 0 95.833333%;
    max-width: 50%;
  }
  .col-lg-24 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media (min-width: 1200px) {
  .text-xl-center {
    text-align: center;
  }
  .text-xl-left {
    text-align: left;
  }
  .text-xl-right {
    text-align: right;
  }
  .d-xl-none {
    display: none !important;
  }
  .d-xl-block {
    display: block !important;
  }
  .d-xl-inline-block {
    display: block !important;
  }
  .container {
    max-width: 1140px;
  }

  .col-xl-1 {
    flex: 0 0 4.166667%;
    max-width: 4.166667%;
  }
  .col-xl-2 {
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .col-xl-3 {
    flex: 0 0 12.5%;
    max-width: 12.5%;
  }
  .col-xl-4 {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .col-xl-5 {
    flex: 0 0 20.833333%;
    max-width: 20.833333%;
  }
  .col-xl-6 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-xl-7 {
    flex: 0 0 29.166667%;
    max-width: 29.166667%;
  }
  .col-xl-8 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .col-xl-9 {
    flex: 0 0 37.5%;
    max-width: 37.5%;
  }
  .col-xl-10 {
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .col-xl-11 {
    flex: 0 0 45.833333%;
    max-width: 45.833333%;
  }
  .col-xl-12 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-xl-13 {
    flex: 0 0 54.166667%;
    max-width: 54.166667%;
  }
  .col-xl-14 {
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .col-xl-15 {
    flex: 0 0 62.5%;
    max-width: 62.5%;
  }
  .col-xl-16 {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .col-xl-17 {
    flex: 0 0 70.833333%;
    max-width: 70.833333%;
  }

  .col-xl-18 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-xl-19 {
    flex: 0 0 79.166667%;
    max-width: 79.166667%;
  }
  .col-xl-20 {
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }

  .col-xl-21 {
    flex: 0 0 87.5%;
    max-width: 87.5%;
  }
  .col-xl-22 {
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }

  .col-xl-23 {
    flex: 0 0 95.833333%;
    max-width: 50%;
  }
  .col-xl-24 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media (min-width: 1260px) {
  .container {
    max-width: 1200px;
  }
}
.container {
  box-sizing: border-box;
  width: 100%;
  padding: 0;
  margin: 0 auto;
}
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0px;
}
[class*="col-"] {
  flex-wrap: wrap;
  flex-direction: row;
  box-sizing: border-box;
}
.col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
  padding: 0px;
}
